* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* o topo representa a parte superior do site */
.main{
    background-image: linear-gradient( rgba(255, 255, 255, 0.8) 0%,rgba(255,255,255,.8) 100%), url(../icon/fundo.jpg);
}
.topo{ 
    background-color: rgb(79, 79, 79);
    width: auto;
    height: 56px;
    display: flex;
    position: relative;

}
.navbar-dark{
    background-color:  rgb(79, 79, 79);

}
.container-fluid{
    color: white;
}
.offcanvas{
    background-color: rgb(79, 79, 79);
}

/* Inicio parte principal */

.iconCharis{
    margin: 0;
    border-radius: 50%;
    width: auto;
    height: 45px; 
}

.iconCharisMenu{
    border-radius: 50%;
    width: auto;
    height: 120px; 
}

.iconSalao{
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid 1px black
}
.linhaMenu{
    margin: 0 auto;
    border: solid 1px rgb(99, 99, 99);
    width: 60%
}



/* .button{
    display: flex;
    border: red solid 1px;
    justify-content: right;
    position: relative;
    top: 40px;
    margin-right: 1em;

} */

.contente{
    margin: 0 auto;
    width: 100%;
    /* border: red solid 1px; */
    height: auto;
}
.contente p, h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-secondary{
    background-color: rgba(116, 116, 116, 0);
    border-radius: 8px;
    border: none;
}
.btn-secondary:hover{
    background-color: rgba(116, 116, 116, 0.2);
}
.title1{
    text-align: center;
}

.title1 h1{
    font-weight: normal;
    font-size: 25px;
    height: 20px;
}
.title1 p{
    font-weight: normal;
    font-size: 18px;
}
.title2{
    text-align: center;
    margin: 0em;
}
.title2 h1{
    font-weight: normal;
    font-size: 25px;
    height: 20px;
}
.title2 p{
    font-weight: normal;
    font-size: 18px;
}
.linha{
    margin: 1em auto;
    width: 20%;
    border: black solid 1px;
}
.carouselCharis{
    margin: 2px auto;
    width: 350px;
    height: 300px;
}
/* .carouselCharisFirst{
    margin: 8em auto;
    position: relative;
    display: block;
    width: 210px; 
    border: solid red;
} */
.carouselCharisFirst{
    margin-bottom: 1em;
    margin-top: 1em;
    margin: 8em auto;
    position: relative;
    display: block;
    width: 250px; 
    height: auto;
}
.carouselCharisFirst img{
    width: 80px;
    height: 210px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.337);
}
.carouselTopSecond{
    margin-block-end: 2em;
}
.carouselTopSecond h5{
    position: relative;
    top: -25px;
    text-align: center;
    margin: 0;
    width: auto;
    color: rgb(255, 255, 255); 
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px 20px 0px 0px;
}
.carouselTopSecond p{
    position: relative;
    top: -25px;
    text-align: center;
    width: auto;
    margin: 0;
    margin-bottom: 1em;
    color: rgb(255, 255, 255); 
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 20px 20px;
}
.carousel-indicators{
    display: none;
}
.perfil{
    height: auto;
}
.fundoPerfil{
    position: absolute;
    height: 100%;
    filter:blur(3px);
}
.fotoServico{
    width: 200px;
    height: 280px;
    border-radius: 10%;
}

/* Agendamento */

.agendamento{
    width: 100%;
    display: block;
    height: auto;
}

.agendamento h1{
    text-align: center;
    font-weight:100;
}

.formAgendamento{   
    border: 1px solid red; 
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 5em;
    width: 350px;
    height: auto;
    display: block;
    text-align: center;
}
.formAgendamento input[type=submit]{
    border-radius: 10px;
    width: 80px;
    border: none;
    margin-bottom: 8px;
}
.formAgendamento input[type=submit]:hover{
    transition: 0.2s;
    background-color: rgb(174, 174, 174);
}

.formInput{
    height: 85%;
    display: block;
    padding: 8px;
}
.formInput input{
    border: none;
    padding-left: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 94%;
    height: 25px;
}
.formInput input:focus{
    outline: solid 1px rgb(75, 75, 75);
}

.calendario{
    margin: 1px auto;
    width: 350px;
    height: auto; 
}
.calendario h2{
    text-align: center;
}
.semana{
    display: flex;
    text-align: center;
}
.semana div{
    width: 100%;
    height: 20px;
}
.dias{
    display: flex;
}
.dias button{
    text-decoration: none;
    background-color: rgb(252, 252, 158);
    border: 0px;
    color: black;
    height: 100%;
    width: 100%;
}

.dias button:hover{
    background-color: rgb(242, 242, 100);
}
.dias div{
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 1px solid;
    height: 30px;
}
/* blog */

.blog{
    /* border: red solid 1px; */
    text-align: center;
    margin-top: 1em;
    margin-inline: 15%;
    height: 650px
}


/* login */

.mainLogin{
    width: auto;
    height: 650px;
}
.mainLogin h1{
    text-align: center;
}


/* Rodapé */

.rodape{
    background-color: rgb(104, 104, 104);
    padding-top: 20px;
    /* border: red solid 1px;  */
    width: 100%;
    height: auto;
}

footer{
    color: white;
    list-style: none;
    text-align: center;
}

.rod{
    font-size: 15px;
    position: relative;
    list-style: none;
    left: -15px;
    margin-bottom: -20px;
}

.rod li{
    margin: -8px;
}

.link-rodape{ 
    text-decoration: none;
    color: white;
}

.link-rodape:hover{
    color: rgb(255, 255, 255);
    
}

.redeSocial{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.iconFace{
    width: 40px;
    height: 40px;
    transition: 0.8s;
}
.iconInsta{
    width: 58px;
    height: 58px;
    transition: 0.8s;
}
.iconZap{
    width: 45px;
    height: 45px;
    transition: 0.8s;
}

.redeSocial a{
    transition: 0.5s;
}

.redeSocial a:hover{
    position: relative;
    animation: up 0.2s;
    animation-fill-mode: forwards;
    filter: brightness(60%);
    transition: 0.2s;
}

.maps{
    margin-top: 15px;
    width: 80%;
    height: 320px;
}

@keyframes up{
    0%{top: 0px; transform: rotate(0deg);}
    50%{top: -2px; transform: rotate(15deg);}
    100%{top: -5px; transform: rotate(0deg);}
}

@media(max-width: 1000px){
    .title1{
        margin-top: 20px;
    }
    /* carrousel */

    .carouselCharisFirst{
        margin: auto;
    }
    .carouselCharisFirst{
        margin-bottom: 1em;
        margin-top: 1em;
        position: relative;
        display: block;
        width: 250px; 
        height: auto;
    }
}
@media(max-width: 450px){
    .title1{
        text-align: center;
    }
    
    .title1 h1{
        font-weight: 550;
        font-size: 18px;
    }
    .title1 p{
        font-weight: normal;
        font-size: 14px;
    }
    .title2{
        text-align: center;
    }
    .title2 h1{
        font-weight: 550;
        font-size: 18px;
        height: 20px;
    }
    .title2 p{
        font-weight: normal;
        font-size: 18px;
    }
    .linha{
        margin: auto;
        width: 20%;
        border: black solid 1px;
    }

    /* carousel */
    .carouselCharis{
        width: 80%;
        margin: 1em auto;
        height: auto;
    }
    .carouselCharisFirst{
        margin-bottom: 1em;
        margin-top: 1em;
        position: relative;
        display: block;
        width: 210px; 
        height: auto;
    }
    .carouselCharisFirst img{
        width: 80px;
        height: 180px;
        border-radius: 50%;
    }
    .carouselTopSecond{
        height: auto;
        margin-block-end: 2em;
    }
    .carouselTopSecond h5{
        position: relative;
        top: -25px;
        text-align: center;
        font-size: 16px;
        margin: 0;
        width: auto;
        color: rgb(255, 255, 255); 
        font-weight: 900;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px 20px 0px 0px;
    }
    .carouselTopSecond p{
        position: relative;
        top: -25px;
        text-align: center;
        font-size: 14px;
        width: auto;
        margin: 0;
        color: rgb(255, 255, 255); 
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0px 0px 20px 20px;
    }
    .perfil{
        height: auto;
    }
    .fundoPerfil{
        height: 100%;
    }
    .agendamento h1{
        font-weight:100;
        font-size: 18px;
    }
    .semana{
        font-size: 12px;  
    }
    .calendario{
        width: 80%;
    }
    .formAgendamento{
        width: 80%;
    }

    @media(max-width: 220px){
        .carouselCharisFirst{
            margin-bottom: 1em;
            margin-top: 1em;
            position: relative;
            display: block;
            width: 90%; 
            height: auto;
        }
        .semana{
            font-size: 10px;  
        }
    }
}