.iconCharis{
    width: auto;
    height: 70px;
    border-radius: 50%;
}


.titleCanvas{
    width: auto;
    height: 150px;
    margin-right: 1em;
}

.othersIcon{
    width: 50px;
    height: 50px;
}

.colorLink a{
    color: var(--color-world-p);
    font-size: 24px;
    font-weight: 500;
}



@media (max-width: 350px) {
    .navbar{
        height: 10px;
    }
    .iconCharis{
        height: 20vw;
    }
}